@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
        --text-color: rgb(19, 16, 16);
       
       font-family: 'Open Sans', sans-serif;}

   
    h2 {
        color: darkorange;
    }