.header {
    background-color: var(--background-color);
     font-size: 20px;     }
    
     
     .header-nav__menu-item {
        display: block;
     }
     .header-nav__menu {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
            }
.container> .baner {
    height: auto;
    width: 100%;
   }
  
.header .header-nav__menu:hover{
    text-decoration: underline;
}
@media (win-width:500px){
    .header-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 30px;
        font-size: 20px;
        gap: 15px;
    }
}
