.header {
    background-color: var(--background-color);
     font-size: 20px;
    
     }
     .header-nav__menu-item {
        display: block;
     }
     .header-nav__menu {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
            }
.container> .baner {
    padding-left: 200px;
}
  
.header .header-nav__menu:hover{
    text-decoration: underline;
}
@media (win-width:500px){
    .header-nav> .container {
     display: flex;
    }
}
