.container_section {
  display: flex;
  padding-bottom: 30px;
  padding-left: 30px;
  gap: 45px;            
      }
      
      .container {
        max-width: 980px;
        margin: auto;}
  
   
   .products{
    display: block;
    margin: 50px auto;
    width: 500px;
    max-width: 800px;
    text-align: center;
      }
 
  .abonement__cards-item {
    margin-bottom: 50px;
    border: 3px solid blue;
    padding: 20px;
    background-color: rgb(235, 226, 55);
}
.abonement__cards-item>h3,
.abonement__cards-item>p,
.abonement__cards-item>a {
    margin: 15px auto;
    font-size: 22px;
    color: rgb(17, 26, 2);
}

media@(win-width: 500px)
  .products {
    grid-template-columns: 1fr 1fr:
  }
