.container_section {
  display: flex;
      text-align: center;
     padding-bottom: 30px;
     padding-left: 30px;
     gap: 45px;            
     padding: 10px;
    
  }
             
   
   .container {
       max-width: 980px;
       margin: auto;
   }
  
 
  .abonement__cards-item {
    display: grid;
    grid-template-columns: auto;
    margin: 50px auto;
    width: 900px;
    max-width: 800px;
    text-align: center;
    border: 1px solid blue;
    padding: 10px;
    background-color: rgb(235, 226, 55);
}
.abonement__cards-item>h3,
.abonement__cards-item>p,
.abonement__cards-item>a {
    margin: 15px auto;
    font-size: 22px;
    color: rgb(17, 26, 2);
}

  