.container_section {
    display: flex;
       text-align: center;
       padding-bottom: 30px;
       padding-left: 30px;
       gap: 45px;
      
    }
    @media (min-width: 500px){
       .container_section {
        display: flex;
       justify-content: space-around;
   }}
   .container {
       max-width: 980;
       margin: auto;
   }
  .discription {
    border: 1px solid blue;
    padding: 5px;
  }
 
  .abonement__cards-item {
    display: grid;
    flex-direction: column;
    margin: 50px auto;
    width: 80%;
    max-width: 250px;
    text-align: center;
  border: 1px solid blue;
    padding: 10px;
    background-color: darkorange;
}
.abonement__cards-item>h3,
.abonement__cards-item>p,
.abonement__cards-item>a {
    margin: 15px auto;
    font-size: 22px;
    color: rgb(17, 26, 2);
}

  